<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Notice Board</title>
</head>
<body>
    <h1>Notice Board</h1>

    <!-- Flash 메시지 표시 -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul>
            {% for category, message in messages %}
                <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    
    <a href="{{ url_for('main.create') }}">Create New Post</a>
    <form action="{{ url_for('main.search') }}" method="GET">
        <select name="type">
            <option value="title">Title</option>
            <option value="content">Context</option>
        </select>
        <input type="text" name="keyword" placeholder="검색어">
        <button type="submit">Search</button>
    </form>
    <ul>
        {% for post in posts %}
        <li>
            <a href="{{ url_for('main.view_post', post_id=post.id) }}">{{ post.id }} . {{ post.title }}</a>
        </li>
        {% endfor %}
    </ul>
</body>
</html>