<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Search</title>
</head>
<body>
    <h1>Search</h1>

    <!-- Flash 메시지 표시 -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul>
            {% for category, message in messages %}
                <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    
    <ul>
        {% for post in posts %}
        <li>
            <a href="{{ url_for('main.view_post', post_id=post.id) }}">{{ post.title }}</a>
        </li>
        {% endfor %}
    </ul>
    <a href="{{ url_for('main.index') }}">Back to Home</a>
</body>
</html>